.dropdowns.mb-25.visible-xs
  %p.lead.small.mb-10 Filter by category
  .dropdown
    %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
      Newest first
      %i.fa.fa-angle-down.dropdown-icon.pull-right
    %ul.dropdown-menu
      %li
        %a{href: "#"} Newest first
      %li
        %a{href: "#"} Popular first
      %li
        %a{href: "#"} Price: Low to hight
      %li
        %a{href: "#"} Price: Low to hight
  %p.lead.small.mb-10 Sort by
  .dropdown
    %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
      Newest first
      %i.fa.fa-angle-down.dropdown-icon.pull-right
    %ul.dropdown-menu
      %li
        %a{href: "#"} Newest first
      %li
        %a{href: "#"} Popular first
      %li
        %a{href: "#"} Price: Low to hight
      %li
        %a{href: "#"} Price: Low to hight
