%main.container
  %h1.general-title-margin
    Catalog

  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
          Newest first
          %i.fa.fa-angle-down.dropdown-icon.pull-right
        %ul.dropdown-menu
          %li
            %a{href: "#"} Newest first
          %li
            %a{href: "#"} Popular first
          %li
            %a{href: "#"} Price: Low to hight
          %li
            %a{href: "#"} Price: Low to hight
    %ul.list-inline.pt-10.mb-25.mr-240
      %li.mr-35
        %a.filter-link{href: "#"}
          All
          %span.badge.general-badge 135
      %li.mr-35
        %a.filter-link{href: "#"}
          Mobile Development
          %span.badge.general-badge 135
      %li.mr-35
        %a.filter-link{href: "#"}
          Photo
          %span.badge.general-badge 135
      %li.mr-35
        %a.filter-link{href: "#"}
          Web Design
          %span.badge.general-badge 135
  = render 'filter_by_cathegory'

  = render 'grid_books'
