%footer.navbar-inverse
  .container
    .row
      .col-sm-9
        %ul.list-inline.general-align.mb-25
          %li= link_to t('.home'), root_path, class: 'nav-link'
          %li= link_to t('.shop'), shop_path, class: 'nav-link'
          %li
            %a.nav-link{href: "/orders"}= t('.orders')

          %li= link_to t('.settings'), edit_user_registration_path, class: 'nav-link'
            
      .col-sm-3
        %p.general-nav-mail amazing@bookstore.com
        %p.general-nav-number (999)-999-9999
        %ul.list-inline.general-align
          %li
            %a.nav-link{href: "https://www.facebook.com"}
              %i.fa.fa-facebook{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "https://twitter.com"}
              %i.fa.fa-twitter{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "https://plus.google.com"}
              %i.fa.fa-google-plus{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "https://www.instagram.com"}
              %i.fa.fa-instagram{'aria-hidden': "true"}
