%main.container
  #slider.carousel.slide{'data-ride': "carousel"}
    %ol.carousel-indicators
      %li.active{'data-target': "#slider", 'data-slide-to': "0"}
      %li{'data-target': "#slider", 'data-slide-to': "1"}
    .carousel-inner{role: "listbox"}
      .item.active
        .row
          .col-sm-5
            .general-img-wrap
              %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
          .col-sm-7
            .mb-60
              %h1 Real-Life Responsive Web Design
              %p.lead Smart front-end techniques and design patterns derived from real-life responsive projects
              %p.lead.small Vitaly Friedman, Daniel Mall,Vitaly Friedman
              .general-align
                %button.disabled.btn Buy Now
      .item
        .row
          .col-sm-5
            .general-img-wrap
              %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
          .col-sm-7
            .mb-60
              %h1 Real-Life Responsive Web Design
              %p.lead Smart front-end techniques and design patterns derived from real-life responsive projects
              %p.lead.small Vitaly Friedman, Daniel Mall,Vitaly Friedman
              .general-align
                %button.btn.btn-primary Buy Now
    %a.left.carousel-control{href: "#slider", role: "button", 'data-slide': "prev"}
      %span.icon-prev{'aria-hidden': "true"}
      %span.sr-only Previous
    %a.right.carousel-control{href: "#slider", role: "button", 'data-slide': "next"}
      %span.icon-next{'aria-hidden': "true"}
      %span.sr-only Next
.container
  .jumbotron.text-center.mb-0
    %h2.h1 Welcome to our amazing Bookstore!
    .mb-res-50
      %p We pore through hundreds of new books each month and select the five best we can find to share with our members.
    %button.btn.btn-default Get Started
  .mb-35
    %h3 Best Sellers
    .row
      .col-sm-6.col-md-3
        .general-thumb-wrap
          .thumbnail.general-thumbnail
            %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
            .thumb-hover
              .general-thumb-link-wrap
                %a.thumb-hover-link{href: "#"}
                  %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                %a.thumb-hover-link{href: "#"}
                  %i.fa.fa-shopping-cart.thumb-icon
        .mb-35
          .clearfix
            %p.pull-right.font-16.in-gold-500 €28.50
            %p.title.mr-55 Android Programming for Beginners
          %span.divider-sm
          %p.lead.small John Horton
      .col-sm-6.col-md-3
        .general-thumb-wrap
          .thumbnail.general-thumbnail.disabled
            %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
            .thumb-hover
              .general-thumb-link-wrap
                %a.thumb-hover-link{href: "#"}
                  %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                %a.thumb-hover-link{href: "#"}
                  %i.fa.fa-shopping-cart.thumb-icon
        .mb-35
          .clearfix
            %p.pull-right.font-16.in-gold-500 €28.50
            %p.title.mr-55 Android Programming for Beginners
          %span.divider-sm
          %p.lead.small John Horton
      .col-sm-6.col-md-3
        .general-thumb-wrap
          .thumbnail.general-thumbnail
            %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
            .thumb-hover
              .general-thumb-link-wrap
                %a.thumb-hover-link{href: "#"}
                  %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                %a.thumb-hover-link{href: "#"}
                  %i.fa.fa-shopping-cart.thumb-icon
        .mb-35
          .clearfix
            %p.pull-right.font-16.in-gold-500 €28.50
            %p.title.mr-55 Android Programming for Beginners
          %span.divider-sm
          %p.lead.small John Horton
      .col-sm-6.col-md-3
        .general-thumb-wrap
          .thumbnail.general-thumbnail
            %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
            .thumb-hover
              .general-thumb-link-wrap
                %a.thumb-hover-link{href: "#"}
                  %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                %a.thumb-hover-link{href: "#"}
                  %i.fa.fa-shopping-cart.thumb-icon
        .mb-35
          .clearfix
            %p.pull-right.font-16.in-gold-500 €28.50
            %p.title.mr-55 Android Programming for Beginners
          %span.divider-sm
          %p.lead.small John Horton
